<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="../stylesheets/style.css" rel="stylesheet">
  <script type="module" src="../scripts/set-pass-scripts.js"></script>
  <title>access-mars - set-password</title>
</head>

<body>
  <div class="wrapper">
    <div class="logo">
      <img src="../img/marsRotate.gif" alt="mars rotate ilustrator">
    </div>
    <div class="text-center mt-4 name"><h1>set password</h1></div>

    <form action="/register/password/confirmation" method="post" class="p-3 mt-3">
      <div class="form-group form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input class="form-control" type="password" name="pass1" id="pass1" placeholder="enter a password">
        <div class="text-danger errormessage">
        </div>
      </div>
      <div class="form-group form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input class="form-control" type="password" name="pass2" id="pass2" placeholder="Repeat the password">
        <div class="text-danger errormessage">
        </div>
      </div>
      <input type="hidden" name="email" id="email" value="<%=email %>">
      <input type="hidden" name="firstName" id="firstName" value="<%=firstName%>" >
      <input type="hidden" name="lastName" id="lastName" value="<%=lastName%>">

      <input type="submit" value="Submit" class="btn mt-3">

    </form>
    <div class="text-center fs-6">  <a href="#">Sign in</a> </div>
  </div>

  <div class="modal fade" id="warningMassage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="warningMassageModal">note!</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col" id="modalMassage">

            </div>
          </div>
          <div class="modal-footer">
            <button id="reRegisterBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Try Again</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <form action="/33" method="get">
        <button type="submit" >submit</button>
    </form>-->


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>